.c-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #389E85; 
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}