.c-chat__wrapper {
  width: calc(100% - 200px);
  height: auto;
  margin-right: 200px;
  position: relative;
}

.c-chat {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 500px;
  position: fixed;
  right: 0;
  bottom: 30px;
  z-index: 9;
  transform: translateX(90%);
  transition: .2s linear;
}

.isOpen {
  transform: translateX(0px);
}

.c-chat__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 35px;
  width: 500px;
  padding: 0 20px;
  box-sizing: border-box;
  background: #399D7C;
  transform: rotate(270deg);
  position: absolute;
  top: 232px;
  left: -232px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}

.c-chat__content {
  width: calc(100% - 35px);
}

.c-chat__content iframe {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .c-chat {
    width: 420px;
    transform: translateX(384px);
  }

  .isOpen {
    transform: translateX(0px);
  }
}
